body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-image: url('images/6.jpg');
}

header {
  padding: 20px 0;
  color: #ffffcc;
}
 .col-sm-4 {
    color: #990000;
  }
  .navbar {
    background-color: #333399;
  }

header .row,
footer .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
  font-weight: 50;
  color: #990000;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('mypixel.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

ul.navbar-nav li a.login:hover {
    background-color: #fff;
    color: #13232e;
    text-decoration: none;
  }
section .row img {
  margin: 0 0 30px;
  width: 100%;
  height: 400px;
}

.col-md-6 {
  margin: 0 0 30px;
}

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  text-shadow: none;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #E8DFE0;
  color: #ffffff;
  margin: 0 0 30px;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}